{%extends "layout.html" %}

{% block body%}

    {% if login == 0 %}
        <a href="/authorize"> Login </a>
    {% else %}
        <a href="/clear"> Logout </a>
        <br> 

        <form action="/test" method="POST">
            <label>Choose how much months look back:</label>
            <select name = "month">
                {%for i in range(1,13) %}
                    <option value={{i}}> {{i}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
          </form>
    {%endif%}

{% endblock %}